services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=summary_ai'
      - 'POSTGRES_PASSWORD=summary'
      - 'POSTGRES_USER=alejandro'
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/data/postgres
volumes:
    pgdata: